/* variables */
:root {
    --bg-color: rgb(33,143,150);
    --font-color: rgb(253,227,200);
    --secondary-color:white;
  }
  
  
/* global & fonts */
h1 {
    font-size: 2rem;
}
p {
    font-size: 0.7rem;
    line-height: 3rem;
}

* {
    box-sizing: border-box;
    font-family: 'Zen Dots', cursive;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--bg-color);
    color: var(--font-color);
}

/* contents */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    overflow-y: hidden;
  }

.header {
 text-align: center;
 padding-top: 20px;
}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    color:black;
}
.footer-text {
    padding-left: 5px;
}
.footer-line {
    height: 3px;
    background:gray;
}

/* buttons */
.button-container {
    padding-top: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:60vh;
}
.button {
    width:35vw;
    height: 35vw;
    border: 1px solid var(--font-color);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 35vw;
    transition: all .2s;
    background: var(--bg-color);;
    color: var(--font-color);
}

#onions {
    background: rgb(15,58,52);
}

#tomatoes {
    background: rgb(253,101,98);
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 40px rgba(253,227,200, 0.8);
}

.btn:active {
    transform: scale(1.1);
    box-shadow: 0 5px 40px rgba(253,227,200, 0.8);
}